@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.6%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --input: 0 0% 89.8%;
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98.2%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98.2%;
    --primary: 0 0% 98.2%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98.2%;
    --destructive: 0 86% 97.3%;
    --destructive-foreground: 0 84.2% 60.2%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --input: 0 0% 20%;
    --accent: 0 0% 98.2%;
    --accent-foreground: 0 0% 9%;
  }

  * {
    border-color: inherit;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
